# java路径
# JAVA_CMD_PATH="/c/Program Files/Java/jdk1.8.0_291/bin/java"

# 默认使用mvn命令，如果需要自定义maven执行，需在下面配置maven路径，classpath，mainClass等关键参数，
# MAVEN_HOME="/c/tools/apache-maven-3.8.2"
# MAVEN_CLASSPATH=boot/plexus-classworlds-2.6.0.jar
# MAVEN_MAIN_CLASS=org.codehaus.plexus.classworlds.launcher.Launcher

# 发布模式，默认是0，使用mvn deploy命令发布，其他模式需要在extend/maven_extend.sh中自定义实现
# deploy_mode=0